

<p-card class="subject-card">

    <div class="header">

        <i [class]="subject().icon" [style.color]="subject().color">
        </i>


        <span>

            {{subject().title}}

        </span>
&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="continue-button">
            <button pButton label="Continue">
            </button>
        </span>

    </div>

    <p>

        {{subject().topics}} Topics
        &nbsp;|&nbsp;

        {{subject().questions}} Questions

    </p>
    <p>

        {{subject().description}}

    </p>



    <p-progressBar [value]="subject().progress">
    </p-progressBar>

</p-card>