<!-- <div
class="card"
[style.border-color]="subject().color">

<div class="icon">

{{subject().icon}}

</div>

<h2>

{{subject().title}}

</h2>

<p>

{{subject().description}}

</p>

<span>

{{subject().topics}} Topics

</span>

</div> -->

<p-card class="subject-card">

<div class="header">

<i
[class]="subject().icon"
[style.color]="subject().color">
</i>

<span>

{{subject().title}}

</span>

</div>

<p>

{{subject().topics}} Topics

</p>

<p>

{{subject().questions}} Questions

</p>

<p-progressBar
[value]="subject().progress">
</p-progressBar>

<button
pButton
label="Continue">
</button>

</p-card>