<!-- 

<div class="topic-sidebar">

<h2>Angular</h2>

<div class="progress">

{{store.progress()}}% Complete

</div>

@for(topic of store.topics(); track topic.id){

<a

[routerLink]="[
'/subjects',
store.currentSubject(),
topic.slug
]"

routerLinkActive="active">

@if(topic.completed){

✔

}@else{

○

}

{{topic.title}}

</a>

}

</div> -->


@for(topic of store.topics(); track topic.id){

<a
  [routerLink]="[
    '/subjects',
    store.currentSubject(),
    topic.slug
  ]"
  routerLinkActive="active">

  @if(topic.completed){
    ✔
  }@else{
    ○
  }

  {{topic.title}}

</a>

}