// pre{
//     white-space:pre-wrap;
//     line-height:1.8;
// }

.markdown {
  line-height: 1.8;
}

.markdown h1 {
  margin-bottom: 20px;
}

.markdown h2 {
  margin-top: 30px;
}

.markdown pre {
  background: #1e293b;
  color: white;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
}

.markdown code {
  font-family: Consolas, monospace;
}