.output{

    background:#0f172a;

    color:#e2e8f0;

    border-radius:12px;

    margin-top:20px;

    overflow:hidden;

}

.title{

    background:#1e293b;

    padding:14px;

    font-weight:600;

}

pre{

    padding:20px;

    min-height:150px;

    margin:0;

    font-family:Consolas;

}