<h2>Coming Soon</h2>

<!-- <app-code-editor *ngIf="selectedTab() === 'examples'"></app-code-editor>
<app-video-list *ngIf="selectedTab() === 'videos'"></app-video-list>
<app-interview-list *ngIf="selectedTab() === 'interview'"></app-interview-list>
<app-scenario-list *ngIf="selectedTab() === 'scenario'"></app-scenario-list>
<app-mcq-list *ngIf="selectedTab() === 'mcq'"></app-mcq-list> -->

@if (selectedTab() === 'examples') {
  <app-code-editor />
}

@if (selectedTab() === 'videos') {
  <app-video-list />
}

@if (selectedTab() === 'interview') {
  <app-interview-list />
}

@if (selectedTab() === 'scenario') {
  <app-scenario-list />
}

@if (selectedTab() === 'mcq') {
  <app-mcq-list />
}
@if(selectedTab() === 'markdown') {
<app-markdown-viewer/>
}